*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    list-style: none;
    font-family: 'Kanit', sans-serif;
}

/* Change Selection Text Color When Highlighting */ 
::-moz-selection { background-color: #8C43FF; 
    color: #fff; } 
    ::selection { background-color: #8C43FF; 
    color: #fff; }

/* .menu {
    z-index: 10;
} */

.bg {
    background-color: #8C43FF;
}

.text-white {
    color: white;
}

body {
    width: 100%;
    height: 100%;
    word-wrap: break-word;
    transition: background-color .5s;
}

h1,h2,h3,h4,h5,h6,.subtitle {
    
    font-family: 'Kanit', sans-serif;
}

.subtitle {
    font-weight: 100;
    color: #777474;
    line-height: 1.5;
    font-size: 1.5em;
}

h1 {
    font-size: 3em;
}

.hero {
    padding: 2.2rem;
    margin-top: 5rem;
}

.hero-body img {

    border-radius: 400px;
    margin: 2rem 0;
    height: 27vh;
}

.hero-foot {
    width: 100%;
    height: 50%;
    font-size: 6em;
    color: #8C43FF;;
    
}



.has-text-centered {
    text-align: center !important;
}

.long {
    padding-bottom: 10rem;
    position: relative;
}

.long:after {
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    background: inherit;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    transform-origin: top right ; 
    transform: skewY(-6deg);
    z-index: -1;
}

.column {
    padding: 5rem 3rem;
}

.intro-body{
    font-size: 1.5em;
    color: #ddd;
}

.forum {
    background: url('https://images.pexels.com/photos/398532/pexels-photo-398532.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    color: #eee;
    text-align: center; 
    background-attachment: fixed;
}

.forum .text {
    position: relative;
    top:45vh;
}

/* .box1 {
    background-color: #fff;
    
    width: 33%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: black;
    margin: 0 auto;
    padding-bottom: 0%;
    position: relative;
    top: 220px;
} */

/* .content-is-centered {
    justify-content: center;
} */
/* 
.box2 {
    background-color: #fff;
    box-shadow: 0 5px 5px 0;
    width: 33%;
    border-radius: 4px;
    color: black;
    margin: 0 auto;
}
 */

.tab1{
    background-color: #fff;    
    width: 33%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: black;
    margin: 0 auto;
    box-shadow: 0 5px 5px 0 #ccc;
    position: relative;
    bottom: 80px;
    padding: 20px;
    z-index: 4;
}

/* @media(max-width:768) {
    .tab1{   
        width: 65vw;
        height: 44px;
        position: relative;
        bottom: 80px;
        padding: 20px;
        z-index: 5;
    }

    #t {
        font-size: 1.6em !important;
    }
}
Not happening

*/

.tab1-ico {
    width: 100%;
    height: 30%;
    font-size: 4em;
    color: #8C43FF;
}

.skill-body {
    font-size: 1.2em;
}

.navbar {
    width: 100vw;
    height: 3.25rem;
    padding: 1.2rem;
    margin-bottom: 3.8rem;
}

.navbar-item {
    position: relative;
    left: 50%;
    padding-top: 4%;
}

.brand-ico {
    width: 100%;
    height: 50%;
    font-size: 2.6em;
    color: #8C43FF;
}



.tabs{
    background-color: #fff;    
    border-radius: 4px;
    color: black;
    margin: 0 auto;
    box-shadow: 0 5px 5px 0 #ccc;
    padding: 20px;
    z-index: 5;
    height: 96%;
    border-top: 1px solid #eee;
}

.is-purple {
    color: #8C43FF !important ;
    font-weight: bold;
    font-size: 1.2rem;
}

.education {
    margin-top: 9%;
}

.education p {
    font-size: 1.2em;
}

.tech {
    border-radius: 15px;
    align-content: center;
    position: relative;
    height: 40vh;
    margin-top: 20px;
    box-shadow: 0 5px 5px 0 #aaa;
}


.tech1 {
    background-color: #2b3132;
    justify-content: center;
}

.tech3 {
    background-color: #293336;
    justify-content: center;
}

.tech2 {
    background-color: #293336;
    justify-content: center;
}

.tech1 img {
    width: 33.33%;
    height: 30%;
    position: relative;
    top: 35%;
}

.tech2 img {
    width: 33.33%;
    height: 40%;
    position: relative;
    top: 35%;
    border-radius: 4px;
}

.tech3 img{
    width: 38.33%;
    height: 15%;
    position: relative;
    top: 15%;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #8C43FF;
    overflow: hidden;
    width: 100%;
    height: 100%;
    -webkit-transform:scale(0);
    transition: .4s ease;
    border-radius: 10px;
  }

  .otext {
    color: white;
    font-size: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  .otext input {
      border-radius: 20px;
      border: 2px solid white;
      background-color: #293336;
      color: #fff;
  }
  
 .otext input:hover {
     background-color: #8C43FF;
 }

.tech:hover .overlay {
    transform: scale(.9)
  }

.education {
    padding-top: 3.5em;
    padding-bottom: 3.5em;
    margin-bottom: 5.5rem;
}

.long1 {
    padding-bottom: 10rem;
    position: relative;
    padding-top: 10rem;
}

.embedly-card {
    
    margin-top: 1.2vw;
    margin-bottom: 1.3vw;
}
.embeddable-posts {
    margin: 0% auto;
    min-width: 100vw;
}

@media screen and (max-width: 768px) {
    #tutorial1, .embeddable-posts {
        position: relative;
        margin: 0% auto;
        min-width: 100% !important;
    }
    
}

footer .intro-body {

    margin-top: 20px;
}

.copy {
    font-size: 1.1rem;
}

.social {
    font-size: 0.7em;
    margin-top: 5%;
    margin-bottom: 5%;
}

.social:hover {
    color: #fff;
}

.end {
    font-size: 0.9em;
}

.end img {
    width: 3.33%;
}

.social  span{
    padding-right: 2.4vw;  
}

.social a {
    text-decoration: none;
}
.social .brand i:hover {
   color: #8C43FF;
   background-color: #fff;
   padding: 1.5px;
   border-radius: 20px;
   cursor: pointer;
}

/* Sidenav */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 50px;
    margin-left: 50px;
}

#main {
    transition: margin-left .3s;
    /* padding: 16px; */
}

/* For fixing issue with the sidenav on smaller devices */
/* @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  } */

/* 
.home-ico{
    color: #8C43FF;
    font-size: 2.6em;
    padding-top: 1.2em;
    padding-left: 0.8em; 
} */

/* 
@media(min-width:768px) and (max-width:1200px) {
    
    .tab1{
        min-width: 70% !important;
    }
    
    .hero-foot {
        font-size: 6em;
    }

    h1{
        font-size: 3.5em;
    }

    .subtitle {
        font-size: 2.9em;
    }

    .intro-title{
        font-size: 2.9em;
    }

    .intro-body {
        font-size: 2.2em;
    }

    .skill-body {
        font-size: 2.2em;
    }

} */

/* @media(max-width:768px) {
    .tab1{
        min-width: 70% !important;
    }
    
    .hero-foot {
        font-size: 6em;
    }

    h1{
        font-size: 3.5em;
    }

    .subtitle {
        font-size: 2.9em;
    }

    .intro-title{
        font-size: 2.9em;
    }

    .intro-body {
        font-size: 2.2em;
    }

    .skill-body {
        font-size: 2.2em;
    }
} */



/* start of desktop styles */

@media screen and (max-width: 1200px) {
    /* start of large tablet styles */

}

 /* start of medium tablet styles */

@media screen and (max-width: 800px) {
   
    * {
        font-family: 'Kanit', sans-serif;
       }
    
        h1, .intro-title {
            font-size: 1.9em;
        }

        #blog-sub-heading{
            font-size: 0.9em !important;
        }
    
        .subtitle, .intro-body, .education p {
            font-size: 1.4em;
        }
        
        .skill-body{
            font-size: 1.2em;
        }
        
        .tab1 {
            width: 65%;
        }

        .hero-foot {
            font-size: 2em;
        }
        
    .end img {
        width: 7.33%;
    }

    .tabs p, .tabs li{
        font-size: 1.4em;
    }

}


/* Landscape Mode */

@media (orientation: landscape) and (max-width: 1200px) {
    h1, .intro-title {
        font-size: 1.8em;
    }

    .subtitle, .intro-body, .skill-body, .education p {
        font-size: 1.4em;
    }

    .hero-foot {
        font-size: 2.5em;
    }
    
    .end img {
        width: 7.33%;
    }

    /* .tech {
        width: 50vw; 
        margin: 2% auto;

    } */

    .tabs p, .tabs li {
        font-size: 1.2em;
    }
}

 /* end of medium tablet styles */


/* start of phone styles */
@media screen and (max-width: 485px) and (orientation: portrait) {
    
   * {
    font-family: 'Kanit', sans-serif;
   }

    h1, .intro-title {
        font-size: 1.5em;
    }

    .subtitle, .intro-body, .education p {
        font-size: 1.0em;
    }
    
    .skill-body { 
        font-size: 0.9em !important;
    }

    .hero-foot {
        font-size: 2em;
    }

    .tab1 {
        width: 75%;
    }
    
.end img {
    width: 7.33%;
   }

   .tabs p, .tabs li {
    font-size: 0.9em;
   }
}

/* Landscape mode */

@media  (max-width: 991px) and (orientation: landscape ) {
    h1, .intro-title {
        font-size: 1.5em;
    }

    .subtitle, .intro-body, .skill-body, .education p {
        font-size: 1.0em;
    }

    .hero-foot {
        font-size: 2em;
    }
    
    .end img {
        width: 7.33%;
    }

    .tech {
        width: 50vw; 
        margin: 2% auto;

    }
}

@media screen and (max-width:768px) {
    .blog .container{
        max-width: 80%;
    }
}

 /* end of phone styles */